@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-primary: #2f50a3;
  --color-primary-container: #4a69bd;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #00174a;
  --color-on-primary-fixed-variant: #1e4194;
  --color-primary-fixed: #dbe1ff;
  --color-primary-fixed-dim: #b3c5ff;
  --color-inverse-primary: #b3c5ff;

  --color-secondary: #535d7f;
  --color-secondary-container: #cbd6fe;
  --color-secondary-fixed: #dbe1ff;
  --color-secondary-fixed-dim: #bbc5ec;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #525c7e;
  --color-on-secondary-fixed: #0f1a38;
  --color-on-secondary-fixed-variant: #3b4666;

  --color-tertiary: #854200;
  --color-tertiary-container: #aa5600;
  --color-tertiary-fixed: #ffdcc5;
  --color-tertiary-fixed-dim: #ffb783;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #ffece2;
  --color-on-tertiary-fixed: #301400;
  --color-on-tertiary-fixed-variant: #713700;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  --color-background: #f8f9fb;
  --color-on-background: #191c1e;
  --color-surface: #f8f9fb;
  --color-surface-dim: #d9dadc;
  --color-surface-bright: #f8f9fb;
  --color-surface-tint: #3a5aad;
  --color-surface-variant: #e1e2e4;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f6;
  --color-surface-container: #edeef0;
  --color-surface-container-high: #e7e8ea;
  --color-surface-container-highest: #e1e2e4;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #444651;

  --color-inverse-surface: #2e3132;
  --color-inverse-on-surface: #f0f1f3;
  --color-outline: #747683;
  --color-outline-variant: #c4c6d3;

  /* Font Families */
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  /* Border Radius */
  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fb;
  color: #191c1e;
}

.editorial-anchor {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

.ambient-shadow {
  box-shadow: 0 24px 40px -10px rgba(25, 28, 30, 0.05);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
